<script type="text/javascript" src="script.js"></script>

<link rel="stylesheet" type="text/css" href="style.css" />

<style>
	div {
		color: navy;
	}
</style>

<template id="tpl">
	this is template
</template>

<div class="panel">
	<div class="contents">
		Contents
	</div>
</div>

<div class="panel">
	<h3>Title</h3>
	<div class="contents">
		<img src="keroro.jpg" />
	</div>
</div>

text

<script type="text/javascript">
	(function() {
		console.log('document.currentScript.ownerDocument instanceof HTMLDocument', (document.currentScript.ownerDocument instanceof HTMLDocument));
		console.log('document', document);
		console.log('document.currentScript', document.currentScript);
		console.log('document.currentScript.ownerDocument', document.currentScript.ownerDocument);
	
		var doc = document.currentScript.ownerDocument;
		var $ = require('attrs.dom').branch(doc);
		
		console.log('doc.querySelectorAll("div")', doc.querySelectorAll('div'));
		console.log('doc.querySelectorAll("template")', doc.querySelectorAll('template'));
		
		doc.addEventListener('DOMContentLoaded', function(e) {
			console.debug('!!!!DOMContentLoaded');	
		});
		
		$.ready(function(e) {
			console.debug('imported document ready!');
		
			console.log('document.currentScript.ownerDocument.documentElement', doc.documentElement);
			console.log('doc.querySelectorAll("div")', doc.querySelectorAll('div'));
	
			console.log('branched $', $.document);
			console.log('$(doc).find("div")', $('div'));
			$('div').css('border', '1px dotted silver');
	
			var div = $('div');
			console.log('div', div);
			setTimeout(function() {
				console.log('$("div")', $('div'));
				console.log('doc.querySelectorAll("div")', doc.querySelectorAll('div'));
				div.css('border', '1px dotted yellow');
			}, 1000);
		});
	})();
	
	// variable binding test
	var a = 1;
	window.b = 2;
</script>